{% load static %}

    <header class="site-header">
        <div class="row align-items-center">
            <div class="col-4 col-sm-4 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <h1 class="site-title"><a href="/" rel="home"><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a></h1>
                </div><!-- .site-branding -->
            </div><!-- .col-8 -->

            <div class="col-8 col-sm-8 col-lg-10 order-3 order-md-3 order-lg-2">
                <nav class="site-navigation flex align-items-center justify-content-end">
                    <div class="hamburger-menu d-lg-none order-2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div> <!-- .hamburger-menu -->

                    <ul>
                        <li class="current-menu-item"><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        {% if request.user.is_staff %}
                        <li><a href="{% url 'blog-create' %}">Create</a></li>
                        {% endif %}
                        <li><a href="/contact">Contact</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="header-email order-1">
                        <a href="#">Call:<i class="fa fa-phone" aria-hidden="true"></i> 0806********</a>
                    </div><!-- .header-email -->
                </nav><!-- .site-navigation -->
            </div><!-- .col-2 -->
        </div><!-- .row -->
    </header><!-- .site-header -->